<div id="company-form">
  <h2>Please enter your name and pick the Sectors you are currently involved in.</h2>
  <app-company-name-box [name]="name" (nameEvent)="setName($event)"/>
  <app-selector-select (selectedSectorEvent)="setSector($event)"/>
  <app-terms [isChecked] = "terms" (isCheckedEvent)="setTerms($event)"/>
  <button (click)="submit()" type="submit" value="Save">Save</button>
  <br/>
  <mat-card-title *ngIf="message">{{ message }}</mat-card-title>
  <br/>
  <button (click)="logout()">Logout</button>
</div>
